/* .parent-container{
    margin: 0 auto;
} */

nav a{
    text-decoration: none;
    color: black
}

/* Author Card */

.author-card {
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.author-card h2 {
    font-size: 1rem;
    padding: 0.5rem;
}

.author-card p{
    font-size: 0.8rem;
    padding: 0 0.5rem;
}

.author-sec{
    display: flex;
    align-items: center;
}
.author-sec > img {
    width: 72px;
    height: 72px;
    object-fit: contain;
    border-radius: 50%;
}

.social-links > img{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 0.2rem;
    display: inline-block;
}

/* Blog Post Header */

header > h1 {
    text-align: center;
    padding: 1em 0.5em;
}

/* Figure */
#post-hero {
    width: 100%;
    object-fit: cover;
}

figure > figcaption {
    font-size: 0.8rem;
    text-align: center;
}

/* Article */
article{
    padding: 0 1em;
    text-align: left;
}

article > h2{
    padding: 0.5em 0;
    letter-spacing: 0.1em;
}

article > p{
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

article figure {
    padding: 0 2.5rem;
}

article figure img{
    width: 100%;
}


