/* .parent-container{
    margin: 0 auto;
} */

nav a{
    text-decoration: none;
    color: black
}

/* Author Card */

.author-card {
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.author-card a {
    /* text-decoration: none; */
}

.author-card h2 {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.author-card h2:hover{
    text-shadow: 1px 1px 2px gold;
    transition: transform 0.2s;
}

.author-card p{
    font-size: 0.6rem;
    color: gray;
    padding: 0 0.5rem;
}

.author-sec{
    display: flex;
    align-items: center;
}

.author-sec img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    border-radius: 50%;
}


.social-links img{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 0.2rem;
    display: inline-block;
    border-radius: 10px;
    opacity: 50%;
}

author-sec img:hover, .social-links img:hover{
    opacity: 100%;
    box-shadow: 0 0 3px 3px gold, 0 0 4px 4px black;
    transition: box-shadow 0.2s;
}
/* Blog Post Header */

header > h1 {
    text-align: center;
    padding: 1em 0.5em;
}

/* Figure */
#post-hero {
    width: 100%;
    object-fit: cover;
}

figure > figcaption {
    font-size: 0.8rem;
    text-align: center;
}

/* Article */
article{
    padding: 0 1em;
    text-align: left;
}

article > h2{
    padding: 0.5em 0;
    letter-spacing: 0.1em;
}

article > p{
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

article figure {
    padding: 0 2.5rem;
}

article figure img{
    width: 100%;
}

.quote-author{
    color: gray;
    font-weight: 600;
}

blockquote{
    font-style: italic;
    letter-spacing: 0.5px;
}