.blog-posts{
    --h2-font: 0.7rem;    
}

.blog-card{
    background-color: black;
    color: var(--color);
    padding: 0.5em;
    margin: 0.5em 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    overflow: hidden;

    border-left: var(--color) solid 3px;
    border-bottom: var(--color) solid 3px;
}

.blog-card p {
    font-size: 0.8rem;
}

.card-body{
    padding-right: 5%;
}

.author-section{
    display: flex;
    align-items: center;
}

.author-section > img {
    width: 2em;
    height: 2em;
    object-fit: contain;
    border-radius: 50%;
}

.author-section > h2{
    padding: 0 0.5em;
    font-size: var(--h2-font);
}

.card-body > p {
    padding: 0.5em 0;
    letter-spacing: 0.5px;
}

.card-body > h2 {
    padding-top: 0.8rem;
    font-size: calc(var(--h2-font) + .3rem) ;
}

.publish-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.publish-info > p {
    padding: 0.5em 0;
    font-size: 0.6rem;
}

.read-more-btn{
    border: none;
    font-weight: 700;
    border-radius: 4em;
    padding: 0.3em 1em;
    background-color: var(--color);
    border: 3px solid gray;
}

.read-more-btn:hover{
    margin-left: 0.5em;
    transition: margin 0.3s ease;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.blog-card > img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.card-body span {
    display: none;
}

