@import url(./variables.css);

/* parent-container */
.parent-container{
    position: relative;
    /* height: 100vh; */
}

/* Navigation Bar */
.nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 999;
    background-color: var(--color);
    border-bottom: solid black 1px;
}

.nav h1 {
    font-family: var(--font-logo);
    font-size: 2rem;
    margin: 0 0;
}
.nav ul {
    list-style: none;
    display: none;
}

#logo {
    background-image: url(../assets/images/logo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: black;
    /* position: relative; */
    /* z-index: 1; */
}

.login-btn {
    font-size: 0.8em;
    border: none;
    padding: .8em;
    letter-spacing: .1em;
    border-radius: 4em;
    background: #000;
    color: white;
    font-weight: 800;
}

/*  */
main {
    margin: 0 auto;
    margin-top: 6rem;
    position: relative;
}

/* Hero Section */

.hero {
    position: relative;
}

.hero > img {
    width: 100%;
    height: auto;
}

.pitch-line {
    position: absolute;
    top: 0px;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    letter-spacing: 0.1em;
}

.pitch-line h2{
    font-size: 2.75rem;
}

.pitch-line p{
    font-size: 1.5rem;
    padding-right: 25%;
}

/* Subscribe Section */
.newsletter-subscription{
    background-color: #000;
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 0.5rem 1rem;
    border-radius: 1rem;
}

.newsletter-subscription > h2 {
    margin-top: 0.5em;
    text-shadow: 0px 0.15em 5px rgb(145, 109, 19);
}

.subscription-wrapper{
    margin: 1em auto;
    /* background-color: var(--color); */
    padding: 0.5rem;
    border-radius: 1rem;
}

.subscription-wrapper input {
    background-color: var(--color);
}

.email-input{
    font-size: 0.8em;
    border-radius: 1rem;
    padding: .8em;
    border-bottom: 1px solid black;
}

input:focus{
    outline: none;
}

.subscribe-btn{
    font-size: 0.8em;
    border: none;
    padding: .8em;
    border-radius: 1rem;
    background-color: var(--color);
    color: black;
    font-weight: 700;
    opacity: 70%;
}

.subscribe-btn:hover{
    cursor: pointer;
    opacity: 100%;
    transition: opacity 1s;
}

/* Footer Section */
footer {
    text-align: center;
    background-color: var(--color);
    font-size: 0.8em;
    padding: 0.5em 0;
}