
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hp-nav {}

nav.hp-nav>ul {
    display: none;
}

#logo {
    background-image: url(../assets/images/logo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 50%;
    z-index: 1;
}

.hp-hero {
    background-image: url(../assets/images/hero-img-2.jpeg);
    background-size: cover;
    background-position: center;

    /* background-clip: text;-webkit-background-clip: text;color: transparent; */
}

.hp-hero h2 {
    font-size: 74px;
    line-height: 74px;
    font-weight: 400;
    letter-spacing: -0.05em;
}

.hp-hero h3 {
    line-height: 24px;
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}


.login-btn {
    font-size: 12px;
    border: none;
    padding: .8em;
    border-radius: 1.5em;
    letter-spacing: .1em;
    border-radius: 64px;
    background: #000;
    color: white;
    font-weight: 800;
}

.login-btn:hover {
    cursor: pointer;
}

.blog-posts {
    color: white

}



.blog-posts{
    background-color: white;
    padding: 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.news-letter{
    height: 200px;
    background-color: #d6a614;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    bottom: 0;
    left: 0;
}

.news-letter h1 {
    font-size: 36px;
    margin: 0;
}

.news-letter input{
    border: solid black 1px;
    border-radius: 25px;
    height: 2.5em;
    margin-top: 10px;
    text-align: center;
    color: gray;
}

.post-footer p {
    margin: 0;
    padding: 0.5em 0;
}