@import url(./main.css);

.main-post {
    margin: 100px 20px 20px 20px;
}

#post-hero {
    width: 100%;
}

.main-post figcaption {
    text-align: center;
}

.author-card {
    display: flex;
    align-content: baseline;
    justify-content: flex-start;
    padding: 1.2em;
    border-bottom: solid black 1px;
}

.author-info {
    padding: 0 10px;
    align-self: center;
}

.author-info h4 {
    margin: 0;
}

.author-info p {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.img-container {
    width: 80px;
    height: 80px;
    background-image: url("https://pangopets.com/wp-content/uploads/2018/05/Dr-Catharine-Hennessy-400.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

header {
    background-color: #2c3e50;
    padding: 20px;
    color: #fff;
}

article {
    margin-bottom: 30px;
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: inherit;
}